* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%; /* 10px default */ 
  background: rgb(0, 59, 63) no-repeat 100%;
  background: -moz-linear-gradient(271deg, rgb(0, 59, 63) 0%, rgb(1, 85, 90) 40%) no-repeat 100%;
  background: -webkit-linear-gradient(271deg, rgb(0, 59, 63) 0%, rgb(1, 85, 90) 40%) no-repeat 100%;
  background: -o-linear-gradient(271deg, rgb(0, 59, 63) 0%, rgb(1, 85, 90) 40%) no-repeat 100%;
  background: -ms-linear-gradient(271deg, rgb(0, 59, 63) 0%, rgb(1, 85, 90) 40%) no-repeat 100%;
  background: linear-gradient(1deg, rgb(0, 59, 63) 0%, rgb(1, 85, 90) 40%) no-repeat 100%;
  height: 768px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; 
}

.clearfix:after {
  clear: both; 
}

img {
  max-width: 100%; 
}

p {
  line-height: 150%; 
}

/* ===== HEADER ===== */

.inside-content {
  max-width: 900px;
  margin: 0 auto; 
}

.header-content {
  width: 100%;
  height: 100px;
}

.logo {
  float: left;
  padding: 1%;
}

.list-form {
  padding-top: 1.3em;
  float: right; 
  width: 80%;
}

.addItem { 
  width: 73%;
  padding: 0.3em 0.2em;
  margin-left: 5%; 
  margin-right: 2%;
  background: #01555A;
  border: 0;
  border-bottom: 2px solid #F3F1E5;
}

.addItem:focus, .list-form:focus {
  outline: none;
}

input[type=text] {
  font-size: 2em;
  color: #F3F1E5;
}

input[type=submit] {
  background: #01555A;
  color: #F3F1E5;
  box-shadow: none;
  font-size: 2em;
  border: 0;
}

/* ===== MAIN ===== */

.main-content {
  width: 100%;
}

.default {
  color: #F3F1E5;
  text-align: center;
  font-weight: 500;
  font-size: 2em;
  padding: 3em 0em;
}

.remove-all {
  cursor: pointer;
  color: white;
  padding: 1.5em;
  font-size: 1.4em;
  display: table;
  margin: 30px auto;
  border: 1px solid #F3F1E5;
  text-transform: uppercase;
}

.remove-all:hover {
  color: black;
  background: #F3F1E5;
}

.todo {
  background: #F3F1E5;
  color: black;
  margin: 10px 10%;
  border-radius: 10px;
}

.date, .list-item, .item-action {
  float: left;
}

.date, .list-item {
  padding: 2.1em 0em;
  font-size: 1.6em;
}

.date {
  width: 20%;
  text-align: center;
}

.list-item {
  width: 50%;
  word-wrap: break-word;
}

.item-action {
  width: 30%;
}

.complete {
  background: #F3F1E5;
  margin-top: 2.5em;
  float: left;
  cursor: pointer;
  border: 1px solid black;
  padding: 1em;
 }
